//colors

//primary
$drk-des-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

//gradients
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//neutral text
$very-drk-grayish-blue: hsl(237, 12%, 33%);
$drk-grayish-blue: hsl(240, 6%, 50%);

//dividers
$lt-grayissh-blue: hsl(240, 5%, 91%);
