@use '../variables/index' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $kumbh;
  font-size: $base-size;
}

h1,
h2,
h3 {
  margin: 0;
}
